.education-cursor {
  cursor: pointer;
}

.education-drop-down {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 2rem;
  justify-content: center;
}

.education-item {
  width: 40%;
  border: 1px solid #d47024;
  border-radius: 5px;
  padding: -5px;
  background: #0d0e11;
  box-shadow: 0px 5px 12px 1px rgba(0, 0, 0, 0.59);
}
@media (max-width: 700px) {
  .education-item {
    width: 70%;
  }
}

.education-item-style {
  width: 100%;
  text-align: center;
  color: #cda281;
}

.education-icon img {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0;
  display: inline;
  vertical-align: center;
}

.education-title {
  margin-top: -0.75rem;
  color: #d16b1d;
  text-align: center;
}

.degree-title {
  text-align: center;
}

.degree-description {
  margin-top: -1rem;
}
