.language-cursor {
  cursor: pointer;
}

.language-dropdown {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 2rem;
  justify-content: center;
}

.language-item {
  width: 8rem;
  height: 8rem;
  border: 1px solid #f7c59f;
  border-radius: 5px;
  padding: 5px;
  background: #0d0e11;
  box-shadow: 0px 5px 12px 1px rgba(0, 0, 0, 0.59);
  display: flex;
  align-items: center;
}
@media (max-width: 950px) {
  .technology-item {
    width: 95%;
  }
}

.iconContainer {
  width: 100%;
  text-align: center;
}

.languageIcon {
  width: 3rem;
  height: 3rem;
  margin: 1rem 0;
  display: inline;
  vertical-align: center;
}
.languageIcon img {
  max-width: 50%;
  max-height: 90%;
}

.languageDescription {
  margin-top: 0em;
  text-align: center;
  color: #cda281;
  font-size: 1.2em;
}
